@import "./variable.scss"; //引入全局自定义样式
@import "./element/element.scss"; //引入element全局样式
@import "./element/dark.scss"; //引入element-dark暗黑布局全局样式
@import "./element/loading.scss"; //引入element全局加载样式
@import "./custom.scss"; //引入自己喜欢使用的全局样式
@import "./markdown.scss"; //引入对markdown预览的样式
@import "./transition.scss"; //引入自定义的话

//初始化样式
html,
body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0 !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: var(--global-font-size);

  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
}

ul {
  list-style-type: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// layout的背景是全局背景 当页面没有layout时 背景需要自定义
.layout {
  background: var(--global-gradient) !important;
}
// 其他地方需要使用到的渐变色
.gradient {
  background: rgb(255, 255, 255, 0.7);
  background: linear-gradient(120deg, #f8feff, #dffbff, #faedff, #e0eeff, #f5f5d2, #fffff9);
}

// 头部
.header_box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  width: 100%;
  height: 3.6rem;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px -1px 3px var(--primary);
  background: rgb(255, 255, 255, 0.7);
}
// 主内容部分
.main_box {
  box-sizing: border-box;
}
.blog_info {
  padding: 0 7.5px !important;
}
// 底部
.footer_box {
  width: 100%;
  z-index: 2009;
  height: 10rem;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: saturate(100%) blur(3px);
  overflow-x: hidden;
  box-sizing: border-box;
}

// 给center_box加了一个向上移动的动画
.center_box {
  animation: Up 0.6s ease-in-out forwards;
}

@keyframes Up {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

// 对于整体布局的响应式调整
// 手机
@media screen and (max-width: 768px) {
  .home_center_box {
    padding-top: 83px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 128px);
  }
  .center_box {
    padding: 1.6rem 10px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 35rem);
  }
  .article_box {
    padding: 1.6rem 10px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 28rem);
  }
  .mobile_menu {
    height: 100%;
    padding: 0 10px;
  }
  .pc_menu {
    display: none;
  }
  .el-dialog {
    width: 100% !important;
    margin-top: 0 !important;
    height: 100% !important;
    margin-bottom: 0 !important;
    overflow: auto !important;
  }
  .mobile-affix {
    display: block;
    position: fixed;
    bottom: 30%;
    left: 0%;
    .icon-arrowright {
      font-size: 1.8rem;
    }
  }
  .recommend {
    height: 10rem;
  }
  .avatar-show {
    display: block;
  }
}

// pc
@media screen and (min-width: 768px) {
  .home_center_box {
    padding-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 128px);
  }
  .center_box {
    padding: 2.8rem 10px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 35rem);
  }
  .article_box {
    padding: 2.8rem 10px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 28rem);
  }
  .right-side-space {
    padding: 7.5px 1.875px !important;
  }
  .mobile_menu {
    display: none;
  }
  .pc_menu {
    padding: 0 20px;
  }
  .el-dialog {
    min-width: 30vw !important;
    margin-top: 15vh !important;
    min-height: 50vh !important;
    overflow: auto !important;
    border-radius: 8px !important;
  }
  .mobile-affix {
    display: none;
  }
  .recommend {
    height: 12rem;
  }
  .avatar-show {
    display: none;
  }
  .mobile-top-card {
    display: none;
  }
  .mobile-bottom-card {
    display: none;
  }
}

// 滚动条宽度
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::scrollbar {
  width: 8px;
  height: 8px;
}
// 滚动条插槽
::-webkit-scrollbar-track {
  display: none;
}
::scrollbar-track {
  display: none;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: #efbcda;
  background-image: -webkit-linear-gradient(
    45deg,
    rgb(171, 245, 218) 25%,
    transparent 25%,
    transparent 50%,
    rgb(150, 212, 236) 50%,
    rgb(239, 147, 228) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}
::scrollbar-thumb {
  background-color: #efbcda;
  background-image: -webkit-linear-gradient(
    45deg,
    rgb(171, 245, 218) 25%,
    transparent 25%,
    transparent 50%,
    rgb(150, 212, 236) 50%,
    rgb(239, 147, 228) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}
