// 整体主题色变量
:root {
  --primary: #5cbfef;
  --router-color: #dddddd;
  --font-color: #676767;
  --dark-font-color: #a7a7a7;
  --second-font-color: #b3b7ff;
  --hot-color: #f00;
  --md-active: #409eff;
  --global-white: #fff;
  --global-black: #000;
  --global-shadow-white: #fafafa;
  --header-bg-color: #8a7e90;
  --meta-color: #858585;
  --comment-grey: #a4a4a4;
  --border-color: #7ec4f2;
  --hr-border: #a9d5f4;
  --top: #f26c60;
  --error: #f56c6c;
  --music-main-active: #62c28a;
  --music-main-bg: #101827;
  --shadow-mask-bg: rgba(0, 0, 0, 0.5);
  --shadow-button-bg: rgba(255, 255, 255, 0.5);
  --global-font-size: 14px;
  --card-box-shadow: 0 3px 6px 3px rgba(7, 17, 27, 0.06);
  --card-hover-box-shadow: 0 3px 6px 3px rgba(7, 17, 27, 0.15);
  --global-gradient: linear-gradient(
    90deg,
    #f0f0f0 1%,
    #ead2ea 10.2%,
    #e4d5ee 19.6%,
    #d1def3 36.8%,
    #b5dee5 62.2%,
    #cfebf3 88.9%,
    #f0f0f0 99%
  );
  --dark-global-gradient: linear-gradient(
    90deg,
    #413939 1%,
    #483e48 10.2%,
    #4b4552 19.6%,
    #3a3a45 36.8%,
    #364040 62.2%,
    #3b4146 88.9%,
    #4a4242 99%
  );
  --button-linear-gradient: linear-gradient(300deg, #74ebd5 0%, #9face6 100%);
  --button-linear-gradient-h: linear-gradient(300deg, #9face6 0%, #74ebd5 100%);
  --dark-button-linear-gradient: linear-gradient(300deg, #a286a2 0%, #648faf 100%);
  --dark-button-linear-gradient-h: linear-gradient(300deg, #648faf 0%, #a286a2 100%);
}
