@font-face {
  font-family: "iconfont"; /* Project id 3812688 */
  src: url('iconfont.woff2?t=1714488573510') format('woff2'),
       url('iconfont.woff?t=1714488573510') format('woff'),
       url('iconfont.ttf?t=1714488573510') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e7f5";
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-icon-test1:before {
  content: "\e635";
}

.icon-icon-test2:before {
  content: "\e661";
}

.icon-photo-camera:before {
  content: "\e629";
}

.icon-zixun:before {
  content: "\e628";
}

.icon-jiaoliuye:before {
  content: "\e659";
}

.icon-yinliang:before {
  content: "\e698";
}

.icon-bofangzhong:before {
  content: "\e68f";
}

.icon-zanting:before {
  content: "\e691";
}

.icon-shangyiqu:before {
  content: "\e692";
}

.icon-xiayiqu:before {
  content: "\e693";
}

.icon-lishibofang:before {
  content: "\e694";
}

.icon-bofangliebiao:before {
  content: "\e696";
}

.icon-bofangduilie:before {
  content: "\e699";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a3";
}

.icon-tianjiadao:before {
  content: "\e6a4";
}

.icon-xiaoxi:before {
  content: "\e62f";
}

.icon-gerenzhongxin:before {
  content: "\e626";
}

.icon-denglu:before {
  content: "\e6bd";
}

.icon-tuichudenglu:before {
  content: "\e627";
}

.icon-pengyouquan:before {
  content: "\e601";
}

.icon-liuyan:before {
  content: "\e624";
}

.icon-WEBqianduan:before {
  content: "\e625";
}

.icon-houduankaifa:before {
  content: "\e62b";
}

.icon-zhiding1:before {
  content: "\e634";
}

.icon-zhiding:before {
  content: "\e890";
}

.icon-fanhui:before {
  content: "\e8a4";
}

.icon-hangtiantubiao-:before {
  content: "\e600";
}

.icon-icon1:before {
  content: "\e651";
}

.icon-gonggao:before {
  content: "\e604";
}

.icon-icon:before {
  content: "\e652";
}

.icon-weixin1:before {
  content: "\e62e";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bilibili-line:before {
  content: "\e69e";
}

.icon-QQ1:before {
  content: "\e62a";
}

.icon-gitee2:before {
  content: "\e677";
}

.icon-fangdajing:before {
  content: "\e60b";
}

.icon-star:before {
  content: "\e605";
}

.icon-hot:before {
  content: "\e606";
}

.icon-arrowup:before {
  content: "\e607";
}

.icon-arrowdown:before {
  content: "\e608";
}

.icon-menu2:before {
  content: "\e609";
}

.icon-paper:before {
  content: "\e60a";
}

.icon-editor:before {
  content: "\e60c";
}

.icon-label_fill:before {
  content: "\e60d";
}

.icon-link:before {
  content: "\e60e";
}

.icon-sort:before {
  content: "\e60f";
}

.icon-share:before {
  content: "\e610";
}

.icon-schedule:before {
  content: "\e611";
}

.icon-home2:before {
  content: "\e612";
}

.icon-chakan:before {
  content: "\e613";
}

.icon-print:before {
  content: "\e614";
}

.icon-menu:before {
  content: "\e615";
}

.icon-qr-code:before {
  content: "\e616";
}

.icon-stack:before {
  content: "\e617";
}

.icon-timerauto:before {
  content: "\e618";
}

.icon-off-search:before {
  content: "\e619";
}

.icon-speechbubble:before {
  content: "\e61a";
}

.icon-calendar2:before {
  content: "\e61b";
}

.icon-arrowleft:before {
  content: "\e61c";
}

.icon-arrowright:before {
  content: "\e61d";
}

.icon-localoffer:before {
  content: "\e61e";
}

.icon-nav-search:before {
  content: "\e61f";
}

.icon-repeat:before {
  content: "\e620";
}

.icon-folder:before {
  content: "\e621";
}

.icon-home:before {
  content: "\e622";
}

.icon-menu21:before {
  content: "\e623";
}

.icon-new:before {
  content: "\e603";
}

